/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
/* global css */
:root
{
    --main-color:#aebda5;
    --shadow-black-100:0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300:0 5px 15px rgba(0,0,0,0.3);
    --black-900:#000;
    --black-400:#ffffff;
    --black-100:#ffffff;
    --white:#e8eee6;
    --black-alpha-100:rgba(0,0,0,0.05);
    --text-p: rgb(149, 149, 149) ;
}
body
{
    font-family: 'Marcellus', serif;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: #fffbf2;
}
*
{
    margin: 0; /*Grosor barra*/
    padding: 0;
    outline: none !important;
}
img
{
    max-width: 100%;
    vertical-align: middle;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
a,a:hover
{
    text-decoration: none;
}
.btn-1 /*Botón descargar C.V*/
{
    background-color: var(--main-color);
    padding: 15px 40px; /*Grosor y largo del botón*/
    border: none;
    border-radius: 30px; /*Para que esté chato*/
    color: #e8eee6; /*El color que se vuelve cuando se coloca el cursor encima*/
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: var(--shadow-black-300);
    font-weight: 500; /*Grosor letra*/
    transition: all 0.5s ease;
}
.btn-1:hover
{
    color: var(--main-color);
    background-color: #e8eee6;
}
.btn-2
{
    background-color: #b9c5b2;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    color: #f6fcf4;
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
    transition: all 0.5s ease;
}
.btn-2:hover
{
    color: #596a54;
    background-color: var(--main-color);
}
.section-padding
{
    padding: 80px 0;
}
.section-title
{
    margin-bottom: 60px;
}
.section-title h4
{
    font-size: 25px;
    font-weight: 700;
    color: var(--black-900);
    text-transform: capitalize;
    text-align: center;
}
.section-title h2
{
    font-size: 30px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.section-title h2 span 
{
    color: var(--main-color);
}
.owl-carousel .owl-dots
{
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}
.owl-carousel button.owl-dot 
{
    height: 6px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}
.owl-carousel button.owl-dot.active 
{
    background-color: var(--main-color);
}

/* -------Navbar---------*/
.navbar
{
    background-color: #b9c5b2;  /*Fondo barra de tareas*/
    padding: 30px 0; /*Grosor barra de tareas*/
    box-shadow: 0 10px 10px rgba(87, 87, 87, 0.308); /*Sombra barra de tareas*/
    transition: all 0.5s ease; /*Transición de arriba a abajo*/
}
.navbar.navbar-shrink /*Sombra de la navbar cuando bajas*/
{
    padding: 20px 0; /*Tamaño*/
    box-shadow: 0 10px 10px #a4b39b /*Color sombra*/
}
.navbar > .container
{
    padding: 0 15px;
}
.navbar .navbar-brand /*Nombre mío de la barra*/
{
    font-size: 30px;
    color: rgb(114, 106, 92); /*Color de la letra*/
    font-weight: 590; /*Grosor/negritas de la letra*/
    text-transform: capitalize; /*Pone letra mayuscula al inicio de cada palabra*/
}
.navbar .nav-item
{
    margin-left: 35px; /*Separación de apartados de la barra*/
}
.navbar .nav-item .nav-link
{
    color: var(--black-400); /*Color de letras*/
    text-transform: capitalize;
    font-size: 18px; 
    font-weight: 400; /*Grosor de letra*/
    padding: 10px 0;
    position: relative; /*Barrita de arriba donde te dice en que parte estás*/
}/*Si quitas lo de arriba desaparece la barrita que te señala*/

.navbar .nav-item .nav-link::before /*Barritas*/
{
    position: absolute;
    content: '';
    width: 3px;
    height: 0px; /*Aparece solo una*/ /*Si aumenta aparece en las demás*/
    background-color: rgb(105, 85, 50);
    left: 50%;
    top: -45px;
    transform: translateX(-50%);
    transition: all 0.3s ease-out 0s; /*Para que tenga transición*/
}
.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover
{
    color: rgb(88, 75, 51); /*Color que se ponen las letras en el apartado que estás*/
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before /*Hace que las barritas se mantengan y no desaparezcan*/
{
    height: 45px;
}
/*------ home section -------*/
.header-content
{
    background-color: #fffff8;
    height: 800px;
    padding-top: 110px;
    position: relative;
    overflow: hidden;
}

.home-text h4 /*Texto "original"*/
{
    font-size: 25px;
    font-weight: 650;
    padding-bottom: 8px; /*Separación entre mi nombre*/
    color: var(--main-color);
}
.home-text h1 /*"Mi nombre"*/
{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 8px; /*Separación entre mi nombre y diseñadora*/
    color: var(--black-900);
}
.home-text p /*Texto "Diseñadora Web"*/
{
    font-size: 18px;
    line-height: 28px;
    color: gray;
    font-weight: 500;
    padding-bottom: 30px;
}
.home-img
{
    max-width: 430px; /*Tamaño imagen*/
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.home-img::before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 82%;
    border-bottom: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.home-img::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    bottom: 50px;
    left: 0;
    z-index: 11;
}
.home-img img
{
    position: relative;
    z-index: 5;
}
/* header iconos */
.header-social
{
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: 100%; /*Separación de la rayita y logos*/
}
.header-social .header-social-icon
{
    position: relative;
}
.header-social .header-social-icon::before /*Rayita a lado de iconos redes*/
{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    left: -102.5%; /*Posición*/
    top: 50%;
    transform: translateY(-50%);
}
.header-social .header-social-icon ul li /*Posición de iconos de redes*/
{
    display: inline-block; /*En linea*/
    margin-left: 15px; /*Separación entre iconos*/
}
.header-social .header-social-icon ul li:first-child
{
    margin-left: 0;
}
.header-social .header-social-icon ul li a
{
    color: #b9c5b2; /*Color de iconos*/
    font-size: 25px; /*Tamaño icono*/
    width: 50px; /*Circulo (Largo)*/
    height: 50px; /*Circulo (Alto)*/
    display: inline-block; /*Margen al rededor del ico*/
    line-height: 50px; /*La posición para que estén al rededor del icono*/
    border-radius: 50%; /*Para que sea circular*/
    border: 1px solid #d3dad0; /*Borde del circulo*/
    text-align: center; /*Icono centrado*/
    transition: all 0.3s ease- 0s;
}
.header-social .header-social-icon ul li a:hover /*Cambio de color con cursor encima*/
{
    color: #ffffff; /*Color del icono cuando el cursor está encima*/
    background-color: var(--main-color); /*Color del fondo cuando el cursor está encima*/
    border-color: var(--main-color); /*Color del fondo con lo mismo*/
}
/*About*/
.about-content .about-title
{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.about-content .about-title span
{
    color: #42503a;
}
.about-content p
{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(54, 52, 52);
    margin: 0px;
}
.about-content ul
{
    padding-top: 15px;
}
.about-content ul li
{
    width: 50%;
    float: left;
    margin-top: 5px;
}
.about-content .single-info .info-icon
{
    width: 18px;
    text-align: center;
}
.about-content .single-info .info-icon i
{
    font-size: 16px;
    display: inline-block;
    color: var(--main-color);
}
.about-content .single-info .info-text
{
    padding-left: 15px;
}
.about-content .single-info .info-text p span
{
    color: var(--black-900);
    font-weight: 500;
}

/* services */
.services
{
    background-color: #fffff8;
}
.service-item
{
    box-shadow: var(--shadow-black-100);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease;
}
.service-item:hover
{
    background-color: var(--main-color);
}
.service-item .icon 
{
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    color: #fafcfa;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}
.service-item:hover .icon::before
{
    background-color: #fafcfa;
}
.service-item:hover .icon
{
    color: var(--main-color);
    font-size: 20px;
}
.service-item .icon::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    background-color: var(--main-color);
    z-index: -1;
    transition: all 0.3s ease;
}
.service-item .icon i
{
    line-height: 60px;
}
.service-item h3
{
    font-size: 22px;
    margin: 0 0 20px;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
}
.service-item:hover h3
{
    color: #f9fff7
}
.service-item p
{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: rgb(114, 106, 92);
    margin: 0 0 15px;
}
.service-item:hover p
{
    color: var(--black-100);
}
/* sort btn */
.sortBtn
{
    margin: 0 auto;
}
.filter-btn
{
    text-transform: uppercase;
    margin-top: -20px;
    outline: none !important;
    border: 1px solid;
    border-color: var(--main-color) !important;
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 20px;
    color: #99aa8f !important; /*Letras de All, Ruffino, Caro*/
    transition: all 0.3s ease;
}
.filter-btn:hover,.filter-btn.active 
{
    color: #fafcfa !important;
    background-color: var(--main-color);
}
/* single work */
.single-work
{
    position: relative;
    margin-bottom: 30px;
}
.single-work .work-image img
{
    width: 100%;
}
.single-work .work-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #859975da;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}
.single-work:hover .work-overlay
{
    opacity: 1;
    visibility: visible;
}
.single-work .work-overlay .work-content
{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.single-work .work-overlay .work-content .work-title
{
    font-size: 22px;
    color: #e8eee6;
    font-weight: 600;
    transform: translateY(-100%);
    opacity: 0;
    margin-bottom: 15px;
    transition: all 0.3s ease-out 0s;
}

.single-work .work-overlay .work-content ul
{
    position: relative;
    padding-top: 20px;
}
.single-work .work-overlay .work-content ul::before
{
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: var(--white);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.single-work .work-overlay .work-content ul li
{
    display: inline-block;
    margin: 0 15px;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
}
.single-work .work-overlay .work-content ul li a
{
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 25px;
    color: var(--white);
    border-radius: 50%;
    border: 1px solid var(--white);
    text-align: center;
    transition: all 0.3s ease-out 0s;
} 
.single-work .work-overlay .work-content ul li a:hover
{
    background-color: var(--white);
    color: var(--main-color);
}
.single-work .work-overlay .work-content ul li:nth-of-type(1)
{
    transform: translateX(-100%);
}
.single-work .work-overlay .work-content ul li:nth-of-type(2)
{
    transform: translateX(100%);
}
.single-work:hover .work-overlay .work-content .work-title
{
    transform: translateY(0);
    opacity: 1;
}
.single-work:hover .work-overlay .work-content ul li
{
    transform: translateX(0);
    opacity: 1;
}

/*Events*/
#event{
    background-color: #ffffee;
}
.event-content .event-title
{
    
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.event-content .event-title span
{
    
    color: #42503a;
}
.event-content p
{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(54, 52, 52);
    margin: 0px;
}
.event-content p
{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(54, 52, 52);
    margin: 0px;
}
#event h2 span{
    color: rgb(0, 0, 0);
}
.event-content ul
{
    padding-top: 15px;
}
.event-content ul li
{
    width: 50%;
    float: left;
    margin-top: 5px;
}
.event-content .single-info .info-icon
{
    width: 18px;
    text-align: center;
}
.event-content .single-info .info-icon i
{
    font-size: 16px;
    display: inline-block;
    color: var(--main-color);
}
.event-content .single-info .info-text
{
    padding-left: 15px;
}
.event-content .single-info .info-text p span
{
    color: var(--black-900);
    font-weight: 500;
}

/* call to action */
.call-to-action
{
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.call-to-action::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #a9ba9f;
    opacity: 0.8;
}
.call-action-content .action-title
{
    font-size: 45px;
    font-weight: 700;
    color: black; /*Frase*/
    padding-bottom: 30px;
}
.call-action-content h4
{
    color: whitesmoke; /*~ Claude Monet ~*/
    padding-bottom: 25px;
}
.call-action-content ul li
{
    display: inline-block;
    margin: 10px 15px 0;
}


/* contact us */
.contact 
{
    background-color: #fffff8;
}
.contact-info h3
{
    font-size: 22px;
    color: var(--black-900);
    font-weight: 500;
    margin: 0 0 40px;
}
.contact-info-item
{
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}
.contact-info-item i
{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    border-radius: 50%;
    font-size: 16px;
    color: #fafcfa;
    border: 1px solid rgb(87, 87, 87);
    text-align: center;
    line-height: 38px;
}
.contact-info-item h4
{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
    color: var(--black-900);
}
.contact-info-item p
{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 26px;
    color: var(--black-400);
}
.contact-form .form-group
{
    margin-bottom: 25px;
}
.contact-form .form-control
{
    height: 52px;
    border: 1px solid transparent;
    box-shadow: var(--shadow-black-100);
    border-radius: 30px;
    padding: 0 24px;
    color: var(--black-900);
    background-color: #f3f7f2;
    transition: 0.5s ease;
}
.contact-form textarea.form-control
{
    height: 140px;
    padding: 12px;
    resize: none;
}
.contact-form .form-control:focus
{
    border-color: var(--main-color);
}
/* footer */
.footer 
{
    background-color: var(--main-color);
}
.footer .copyright-text
{
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    margin: 10px 0 0;
}
/* responsive */
@media(max-width:991px)
{
    .header-content
    {
        height: 640px;
    }
    .navbar-toggler
    {
        background-color: #94aa8c;
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px;
        color: #e8eee6;
    }
    .navbar-nav
    {
        background-color: #b9c5b2;
    }
    .navbar .nav-item
    {
        margin: 0;
        padding: 5px 15px;
    }
    .navbar .nav-item .nav-link::before
    {
        display: none;
    }
    .pricing-plan
    {
        margin-bottom: 30px;
    }
}
@media(max-width:767px)
{
    .header-shape.shape-one img
    {
        width: 40px;
    }
    .header-shape.shape-two img
    {
        width: 40px;
    }
    .header-shape.shape-three img
    {
        width: 100px;
    }
    .header-shape.shape-fore img
    {
        width: 40px;
    }
    .header-shape.shape-five img
    {
        width: 40px;
        right: 25px !important;
        bottom: 50% !important;
    }
    .header-shape.shape-six img
    {
        width: 40px;
    }
    .header-shape.shape-seven img
    {
        width: 100px;
        left: 20px !important;
        bottom: 35px !important;
    }
    .header-shape.shape-eight img
    {
        width: 100px;
        left: 50px !important;
        bottom: 80px !important;
    }
    .header-shape.shape-nine img
    {
        width: 100px;
        left: 65% !important;
        bottom: 20px !important;
    }
    .header-shape.shape-ten img
    {
        width: 100px;
        right: 0px !important;
        bottom: 15% !important;
    }
    .home-text h4
    {
        font-size: 24px;
    }
    .home-text h1
    {
        font-size: 38px;
    }
    .about-content ul li 
    {
        width: 100%;
        float: none;
    }
    .call-action-content .action-title
    {
        font-size: 30px;
    }
    .section-title h2
    {
        font-size: 35px;
    }
    .contact-form
    {
        margin-top: 20px;
    }


}
@media only screen and (min-width:992px) and (max-width:1200px)
{
    .about-content ul li
    {
        width: 100%;
        float: none;
    }
}

@media only screen and (min-width:576px) and (max-width:767px)
{
    .about-content ul li
    {
        width: 50%;
        float: left;
    }
}